@page "/checkout/{productSlug}"
@inherits CheckoutPage

<MudContainer Class="mt-16" MaxWidth="MaxWidth.Medium">
    <MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">Checkout</MudText>
    <MudGrid Class="mt-16" Justify="Justify.Center">
        <MudItem xs="12" sm="12" md="10" lg="8" xl="6" xxl="5">
            <MudPaper Class="d-flex flex-column" Outlined="true">
                <MudList>
                    <MudListItem Icon="@Icons.Material.Filled.Star">
                        <div class="d-flex">
                            <MudText>@Product?.Title</MudText>
                            <MudText Inline="true" Class="ml-auto">
                                @(Product?.Price.ToString("C"))
                            </MudText>
                        </div>
                    </MudListItem>
                    <MudDivider />
                    <MudListItem 
                        Icon="@(Voucher is null ? Icons.Material.Filled.Discount : Icons.Material.Filled.CheckCircle)">
                        <MudTextField T="string"
                                      Disabled="@(Voucher is not null)"
                                      Placeholder="Cupom de Desconto"
                                      @bind-Value="@VoucherCode"
                                      Mask="Mask"
                                      Adornment="Adornment.End"
                                      AdornmentIcon="@Icons.Material.Filled.FactCheck"
                                      OnAdornmentClick="@(() => { })" />
                    </MudListItem>
                    <MudListItem Icon="@Icons.Material.Filled.MoneyOff">
                        <div class="d-flex">
                            <MudText>Desconto</MudText>
                            <MudText Class="ml-auto">
                                @(Voucher?.Amount.ToString("C"))
                            </MudText>
                        </div>
                    </MudListItem>
                </MudList>
                <div class="mt-auto">
                    <MudDivider />
                    <div class="d-flex pa-4">
                        <MudText>Total:</MudText>
                        <MudText Class="ml-auto">
                            <b>
                                @(Total.ToString("C"))
                            </b>
                        </MudText>
                    </div>
                </div>
            </MudPaper>
            <MudButton @onclick="OnValidSubmitAsync"
                       Disabled="@(!IsValid)"
                       Variant="Variant.Filled"
                       DisableElevation="true"
                       Color="Color.Primary"
                       Size="Size.Large"
                       Class="mt-6"
                       FullWidth="true">
                FINALIZAR PEDIDO
            </MudButton>
        </MudItem>
    </MudGrid>
</MudContainer>